<div class="attributes" >
   <div class="splitcontent">
      <div class="splitcontentleft">
         <div class="assigned-users attribute"> 
             <div class="label"><%= l(:co_part_users) %>:</div>
             <div class="value"><%= assigned_users %></div>
         </div>
            
      </div>
   </div>         
</div>